$background: #f0f0f0;
$color-text: #333;
$white: #fff;
$black: #000;

$initial: #D03985;
$second: #D1246A;
$third: #C72886;
$fourth: #A73874;
$fifth: #A93875;
$sixth: #A738E7;
$seventh: #f0f0f0;
$eighth: #f0f0f0;
$ninth: #f0f0f0;


:export {
    backgroundColor: $background;
    colorText: $color-text;
}