.modal {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);

    .modalContent {
        position: relative;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        padding: 24px;
        width: 100%;
        max-width: 400px;

        .modalHeader {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
        }

        .modalBody {
            margin-bottom: 24px;

            .modalBodyTitle {
                color: #000;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 8px;
            }

            .modalBodyText {
                color: #000;
                font-size: 16px;
                font-weight: 400;
            }
        }

        .modalFooter {
            display: flex;
            justify-content: flex-end;

            .modalFooterButton {
                background-color: #f5f5f5;
                border-radius: 4px;
                color: #000;
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
                padding: 8px 16px;
                text-align: center;

                &:hover {
                    background-color: #e5e5e5;
                }
            }
        }
    }

}