.container {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            transition: all 0.5s;
        }
    }

    .buttons {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 20px;


        .active,
        .inactive {
            border: solid 1px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 10px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s;

            &:hover {
                background-color: rgba(255, 255, 255, 0.8);
            }
        }

        .active {
            background-color: rgba(255, 255, 255, 0.8);
        }

        .inactive {
            border: solid 1px rgba(213, 213, 213, 0.2);
            background-color: rgba(167, 167, 167, 0.5);
        }
    }
}