/* src/components/Header.css */

.header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  min-width: 300px;
}

.header-left {
  display: flex;
  flex-direction: column;
}

.header-subtitle {
  font-size: 14px;
  color: #6e6e6e;
}

.header-title {
  font-size: 24px;
  color: #C72886;
  margin: 0;
}

.header-right {
  display: flex;
  align-items: center;
  color: #6e6e6e;
  cursor: pointer;
}

.header-right:hover{
  opacity: 0.5;
}

.header-location-icon {
  margin-right: 4px;
  color: #C72886;
}

.header-down-icon {
  margin-right: 4px;
}

.header-location {
  font-size: 14px;
}
