@import '@styles/index.scss';

.navbar {
    display: flex;
    background-color: $initial;
    width: 100%;
    justify-content: space-around;

    &_item {
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 20px;

        &:hover {
            background-color: $fourth;
        }

        span {
            font-size: 0.75rem;
            font-weight: 700;
            color: $ninth;
        }
    }
}