@import "@styles/index.scss";
// component of a input in a chat 

.container {
    .input {}

    .button {}
}

.container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $initial;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0px;

    .input {
        width: 100%;
        border: none;
        background-color: $initial;
        color: white;
        font-size: 14px;
        padding: 5px;
        border-radius: 10px;
    }

    .button {
        background-color: $third;
        border: none;
        border-radius: 10px;
        padding: 5px;
        margin-left: 5px;
        color: white;
        font-size: 14px;
    }

}