@import "@styles/index.scss";

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .search {
        padding: 20px;

        margin-top: 20px;
    }

    .carousel {
        display: flex;
        gap: 20px;
        margin-top: 0px;
        width: 100%;
        overflow-x: scroll;
        padding: 0px 20px;
    }

    .hots {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        height: 100%;

        .title {
            width: 100%;
            font-size: 24px;
            font-weight: 600;
            margin: 0px 20px;
            color: $third;
        }
    }
}