.container {

    .carousel {}

    .content {

        .title {

            .name {}

            .description {}
        }

        .participants {}
    }

    .information {
        .duration {}

        .footer {}
    }

}

// style for a card in a group list

.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .carousel {
        margin: 0px 10px;
    }

    .content {
        margin-right: auto;

        .title {

            .name {
                font-size: 18px;
                font-weight: 500;
            }

            .description {
                font-size: 14px;
                font-weight: 500;
            }
        }

        .participants {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;

            .participant {
                h5 {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }

    .information {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80px;

        .duration {
            h5 {
                font-size: 14px;
                font-weight: 500;
            }

            h3 {
                font-size: 18px;
                font-weight: 500;
            }
        }

        .footer {
            display: flex;
            gap: 5px;
            margin-top: auto;
            align-items: center;
        }
    }
}