.container {

    .carousel {}

    .content {

        .title {

            .name {}

            .description {}
        }

        .participants {}
    }

    .information {
        .duration {}

        .footer {}
    }

}

// style for a card in a group list

.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
    border-radius: 40px;
    transition: all 0.5s;
    position: relative;
    width: 100%;
    background: transparent;
    overflow: hidden;

    &:hover {}

    .carousel {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        filter: blur(1px) brightness(0.6);
        z-index: -2;

    }

    .content {
        display: flex;
        color: white;
        width: 100%;
        height: 100%;
        margin-right: auto;
        flex-direction: column;
        padding: max(4dvh, 3dvw);
        z-index: 0;

        .title {
            height: 100%;
            overflow: hidden;

            .name {
                font-size: 24px;
                font-weight: 600;

                &::first-letter {
                    text-transform: uppercase;
                }
            }

            .description {
                font-size: 18px;
                width: 100%;
                height: 100%;
                overflow: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        .participants {
            display: flex;
            flex: 1;
            gap: 10px;
            margin-bottom: 10px;
            margin-top: auto;
            // justify-content: center;
            align-items: center;
            text-transform: uppercase;


            .participant {
                h5 {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }

    .information {
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        align-items: center;
        gap: 25px;

        .duration {
            h5 {
                font-size: 14px;
                font-weight: 500;
            }

            h3 {
                font-size: 18px;
                font-weight: 500;
            }
        }

        .footer {
            display: flex;
            gap: 5px;
            align-items: center;
        }
    }
}