.container {

    overflow: scroll;
    width: 100vw;
    height: 240px;
    overflow-y: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }

    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 20px;
        width: max-content;
        gap: 30px;

        .item {
            position: relative;
            width: 300px;
            height: 200px;
            background-color: #f5f5f5;
            border-radius: 10px;

            .image {
                filter: brightness(0.5);
            }

            .content {
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 0;
                left: 0;
                padding: 20px;
                color: white;
                height: 100%;

                .name {
                    font-size: 20px;
                    font-weight: 600;
                }

                .description {
                    font-size: 14px;
                    font-weight: 400;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }

                .link {
                    margin-top: auto;
                    width: 100%;
                    background-color: #f5f5f544;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 4px;

                    &:hover {
                        background-color: #f5f5f522;
                    }
                }
            }
        }



        .active {}




    }

}